* {
  margin: 0;
  padding: 0;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

:root {
  --font: "Red Hat Display", sans-serif;
  --clr-1: #231f20;
  --clr-2: #fff;
  --clr-3: #698dff;
  --clr-4: #717fa6;
  --clr-5: #cd7df3;
  --clr-6: #382ae1;
  --clr-7: #1e1fcd;
  --clr-8: #1f2e55;
  --clr-9: #75ecca;
  --clr-10: #d6e1ff;
  --clr-11: #dfe6fb;
  --clr-12: #e0e8ff;
  --clr-13: #f7f9ff;

  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  background-color: var(--clr-12);
  color-scheme: light;
  color: black;
  font-family: var(--font);
  font-size: 10px;
  font-synthesis: none;
  font-weight: 500;
  line-height: 1.5;
  text-rendering: optimizelegibility;
  text-size-adjust: 100%;
}

body {
  background-image: url("../assets/images/pattern-background-mobile.svg");
  background-repeat: no-repeat;
  background-position: left 0 top 0;
  background-size: 100% 25%;

  @media (width >= 768px) {
    background-image: url("../assets/images/pattern-background-desktop.svg");
    background-size: 100% 50%;
  }

  display: grid;
  min-height: 100vh;
  place-content: center;
}
